@charset 'UTF-8';

@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-anno {
  position: relative;
  display: inline-block;
  padding-left: 1em;

  @include mq('sm'){
    font-size: calc(23vw / $vwSm);
  }
  @include mq('lg'){
    font-size: calc(23vw / $vwLg);
  }
  @include mq( 'xlg'){
    font-size: 23px;
  }

  &:before {
    position: relative;
    display: block;
    float: left;
    margin-left: -1em;
    content: "※";
  }

  &__wrap {
    text-align: center;
  }
}